@import "tailwindcss";

@theme inline {
  --color-background: #0C111D;
  --color-foreground: #ffffff;
  --color-primary: #7F56D9;
  --font-sans: "Inter", sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
